extends index

block more_content
  p= stockdata

  table
      tr
        td= widget.id
        td
          a(href='/widgets/'+widget.id) #{widget.name}
        td= widget.desc
        td= widget.date
